Source: hamonikr-info
Section: admin
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4
Homepage: https://hamonikr.org

Package: hamonikr-info
Architecture: amd64
Provides:
Depends: hamonikr-info (>> 2020.10.08) 
Conflicts: 
Replaces: 
Breaks: hamonikr-info 
Description: Necessary information about the HamoniKR release and edition.
 Base package. This package is needed by the HamoniKR system.
